@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

div#app {
    height: 100%;
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    .hide-scrollbar {
        @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

#i_calories_range::-webkit-slider-runnable-track {
    height: 12px;
    box-shadow: 1px 1px 1px #000000;
    background: #d64e0f;
    border-radius: 6px;
    border: 1px solid #000000
}

#i_calories_range::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 32px;
    width: 32px;
    border-radius: 12px;
    background: #D3D3D3;
    -webkit-appearance: none;
    margin-top: -11px;
}